Lab2/ROT13Encryption/bin
Lab2/ROT13Encryption/obj
Lab2/ROT13EncryptionTest/bin
Lab2/ROT13EncryptionTest/obj
Lab2/ROT13EncryptionTest/TestResults

Lab3/FacadePattern/bin
Lab3/FacadePattern/obj
Lab3/FacadePatternTest/bin
Lab3/FacadePatternTest/obj
Lab3/FacadePatternTest/TestResults